// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$numberOfRectangles: 20;

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
  background: #222222;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.rect {
	position: absolute;
	animation: rotate 2.3s infinite ease-in-out alternate;
}


@for $i from 1 through $numberOfRectangles {
	.rect.rect-#{$i} {
		width: $i * 10px;
		height: $i * 10px;
		border: 1px solid white;
		animation-delay: $i * 0.03s;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}