<div class="frame">
	<div class="ocean">
		<div class="wave wave1">
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
		</div>
		<div class="wave wave2">
		<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
		</div>
		<div class="wave wave3">
		<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
			<div class="crest"></div>
		</div>
	</div>
</div>