// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	cursor: pointer;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text{
	position: absolute;
	pointer-events: none;
	z-index: 2;
	width: 400px;
	top: 169px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	text-align: center;
	color: #000;
}

.hover{
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 400px;
	background: orange;
	z-index: 5;

	overflow: hidden;
}

.blur-text {
	@extend .text;
	z-index: 10;
	color: transparent;
	text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
